body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", serif;
    font-family: "Sour Gummy", serif;
    font-weight: 400;
    overflow: hidden;
}


h1, h2, h3, h4, h5, h6, p, span {
    font-family: "Sour Gummy", serif;
    font-weight: 400;
}

p, span {
    font-family: "Comfortaa", serif;
    font-weight: 400;
}

// h2 {
//     font-size: 32px;
// }


.question-container {
    text-align: center;
    margin-top: 20px;

    h2{
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        color: #fefefe;
        width: 75%;
        justify-self: anchor-center;

        @media (max-width: 1024px) {
            width: 90%;
        }
      }

      p {
        color: #fefefe;
      }
}