

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", serif;
    font-family: "Sour Gummy", serif;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, p, span {
    font-family: "Sour Gummy", serif;
    font-weight: 400;
}

p, span {
    font-family: "Comfortaa", serif;
    font-weight: 400;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    text-align: center;
    margin-top: 20px;

    h2{
        font-size: 42px;
        text-align: center;
        font-weight: 400;
        color: #fefefe;
        width: 75%;
        justify-self: anchor-center;

        @media (max-width: 1400px) {
            width: 50%;
            font-size: 38px;
        }

        @media (max-width: 776px) {
            width: 90%;
            font-size: 34px;
        }
      }

      p {
        color: #fefefe;
      }
}