.drag-container {
    height: 600px;
}

.takeFrom, .drag-targets {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.takeFrom .drag-item {
    width: 100%;
    height: 200px;
}

.drag-target  {
    width: 100%;
    height: 200px;
}