.question_19 {
    .question-container {
        text-align: center;
        margin-top: 20px;
        overflow: hidden;
        h2{
            text-align: center;
            font-weight: 400;
            color: #fefefe;
            width: 75%;
            justify-self: anchor-center;
          }
    
          p {
            color: #fefefe;
          }
    }

    .options-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;

        .option {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #484848;
            border-radius: 10px;
            &.selected {
                background-color: #f6b52e;
                
                
                span {
                    color: #fff;
                    font-weight: 900;
                }    
            }
            img {
                width: 250px;
                height: 250px;

                @media (max-width: 1400px) {
                    width: 200px;
                    height: 200px;
                }

                @media (max-width: 776px) {
                    width: 200px;
                    height: 200px;
                  }
            }
        }

        
    }

    .draggable-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            max-width: 70%;
            margin: 0 auto;
        }

        .draggable-item {
            touch-action: none;
            @media (max-width: 1024px) {
                //flex: 1 1 20%;
            }
        }

        .animal-image {
            border: 1px solid #484848;
            border-radius: 10px;
        }

        img {
            width: 150px;
            height: 150px;

            @media (max-width: 1024px) {
                width: 150px;
                height: 150px;
            }
        }
    }

    .droppable-area {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        @media (max-width: 1024px) {
            justify-content: center;
        }

        .droppable-box {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1024px) {
                width: 100px;
                height: 100px;
            }
            border: 1px dashed #fefefe;
            border-radius: 10px;
            span {
                font-size: 32px;
                color: #fefefe;
            }

            img {
                width: 80px;
                height: 80px;

            }
        }
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;
    
        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}
