.question-10 {
    width: 100%;
    @media (max-width: 1400px) {
        overflow-y: auto;
      }
    
    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 800px;
        gap: 25px;
        flex-wrap: wrap;

        @media (max-width: 776px) {
            width: 70%;
        }

        img {
            width: 150px;
            height: 150px;
        }

        .opt-btn-img {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #484848;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
            }

            &.selected {
                background-color: #f6b52e;
            }
        }
    }       

    .option {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}


/* 
.submit-btn,
.next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
} */
