.question_19 {
    .question-container {
        text-align: center;
        margin-top: 20px;
    }

    .options-container {
        display: flex;
        flex-direction: row;

        .option {
            margin: 10px 15px;
            border: 1px solid #484848;
            border-radius: 10px;
            &.selected {
                background-color: #f6b52e;
                
                
                span {
                    color: #fff;
                    font-weight: 900;
                }    
            }
            img {
                width: 250px;
                height: 250px;
            }
        }

        
    }

    .available-animals {
        display: flex;
        flex-direction: row;


        img {
            width: 150px;
            height: 150px;
        }
    }

    .order-area {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        .droppable-box {
            width: 80px;
            height: 80px;
            border: 1px dashed #000;
            border-radius: 10px;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: auto;
    
        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}
