.question-8 {
    .question-container {
        text-align: center;
        margin-top: 20px;

        h2{
            text-align: center;
            font-weight: 400;
            color: #fefefe;
          }
    
          p {
            color: #fefefe;
          }
    }
    
    .sequence {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
    
        img {
            width: 200px;
            height: 200px;
            @media (max-width: 776px) {
                height: 150px;
                width: 150px;
              }
        }
    }
    
    .sequence-item {
        font-size: 2rem;
    }
    
    .droppable-area {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
        width: 700px;
        margin: auto;
    }
    
    .droppable-box {
        width: 150px;
        height: 150px;
        border: 2px dashed #fefefe;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        span {
            font-size: 32px;
            color: #fefefe;
        }
    
        img {
            width: 150px;
        }
    }
    
    .draggable-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        row-gap: 50px;
        // margin-top: 20px;
        // padding: 10px;
        border-radius: 5px;
        width: 100%;
        // max-width: 33%;
        // flex: 1 1 50%; /* Svaki element zauzima 45% širine */

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            width: 700px;
        }
        img {
            height: 150px;
        }
    }
    
    .draggable-item {
        width: 150px;
        height: 150px;
        
        font-size: 2rem;
        cursor: grab;
        border: 1px solid #484848;
        border-radius: 10px;
        background-color: transparent;
        touch-action: none;

        img {
            width: 150px;
            height: 150px;
        }

        @media (max-width: 1024px) {
            flex: 1 1 25%;
            width: 100%;
            height: 100%;
            max-width: fit-content;
        }
    }
    
    .draggable-item:active {
        cursor: grabbing;
        transform: scale(1.1);
    }
    
    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;

        &.display-none {
            display: none;
        }
    
        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}

