.question-7 {
    .sequence {
        width: 100%;

        img {
            width: 100px;
            height: 100px;
        }
    }

    .options {
        
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        @media (max-width: 1024px) {
            flex-direction: column;
        }


        .option {
            border: 1px solid #000;
            border-radius: 10px;
            flex: 1 1 45%; /* Svaki element zauzima 45% širine */
            max-width: 33%;
            @media (max-width: 1024px) {
                max-width: 100%;
                flex-direction: row;
            }
            &.selected {
                background-color: #f6b52e;
            }

            &:hover {
                cursor: pointer;
            }
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;

        &.display-none {
            display: none;
        }

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}