.question_18 {
    .question-container {
        text-align: center;

        h2{
            text-align: center;
            font-weight: 400;
            color: #fefefe;
            width: 75%;
            justify-self: anchor-center;
          }
    
          p {
            color: #fefefe;
          }
    }

    .options-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;

        .option {
            border: 1px solid #484848;
            border-radius: 10px;
            

            &.selected {
                background-color: #f6b52e;
                
                
                span {
                    color: #fff;
                    font-weight: 900;
                }    
            }
            img {
                width: 250px;
                height: 250px;
            }
        }
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;
    
        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}



