.question-14 {
    .question-container {
        text-align: center;
        margin-top: 20px;
        width: 700px;
    }

    .available-blocks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .draggable-item {
            img {
                width: 100px;
                height: 100px;
            }
        }
    }

    .sequence-area {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        .droppable-box {
            width: 80px;
            height: 80px;
            border: 1px dashed #000;
            border-radius: 10px;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

}



