.question-10 {
    .question-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;

        img {
            width: 150px;
        }

        .opt-btn-img {
            border: 1px solid #000;
            border-radius: 10px;

            &.selected {
                background-color: #f6b52e;
            }
        }
    }       

    .option {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 20px auto;

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}


/* 
.submit-btn,
.next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
} */
