.question_13 {
    .question-container {

        h2{
            width: 75%;

            @media (max-width: 776px) {
                width: 90%;
              }
          }
    }
    
    .options-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 25px;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }

        @media (max-width: 776px) {
            width: 70%;
          }


        .opt-btn-img {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #484848;
            border-radius: 10px;
            img {
                height: 250px;
                width: 250px;

                @media (max-width: 1400px) {
                    width: 200px;
                    height: 200px;
                }

                @media (max-width: 776px) {
                    height: 150px;
                    width: 150px;
                  }

            }
            &.selected {
                background-color: #f6b52e;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .option {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;
    
        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}


