.question-6 {

    .drag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .drag-items {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .draggable-item {
        cursor: grab;
        transition: transform 0.2s ease;
    }
    
    .draggable-item:active {
        cursor: grabbing;
    }
    
    .big-square {
        width: 200px;
        height: 200px;
        background-color: #3564ab;
        border: 1px solid #000;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .big-triangle {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 100px solid #df1e1f;
    }
    
    .small-square {
        width: 50px;
        height: 50px;
        background-color: #f6b52e;
        border: 1px solid #000;
    }
    
    .small-rectangle {
        width: 50px;
        height: 80px;
        background-color: #fd7e14;
        border: 2px solid #e8590c;
    }
    
    .droppable {
        border: 2px dashed #ccc;
        min-height: 50px;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    
        &.base {
            height: 200px;
        }
    }
    
    .droppable-over {
        border-color: #007bff;
    }
    
    .base.filled {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-color: #007bff;
        height: 200px;
        width: 200px;
    }
    
    .window {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px dashed #000;
        margin: 5px;
    
        &.right-window {
            grid-column: 3 / 4;
        }
    
        &.left-window {
            grid-column: 1/2;
        }
    }
    
    .door {
        background-color: transparent;
        border: 1px dashed #000;
        margin: 5px;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
    
    .roof {
        width: 200px;
        height: 100px;
    }
    
    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: auto;

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
}

