.question-5 {
    width: 100%;
    @media (max-width: 1400px) {
        overflow-y: auto;
      }

    .question-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            text-align: center;
            font-weight: 400;
            color: #fefefe;
          }
    }
    
    .sequence-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-bottom: 20px;

        .sequence-item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            border: 1px solid #484848;
            border-radius: 10px;
            min-width: 100px;
            text-align: center;
            background-color: transparent;
            
            img {
                height: 150px;
                width: 150px;
            }
        }
    }
    
    .droppable-target {
        height: 150px;
        width: 150px;
        border: 1px dashed #484848;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        span {
            font-size: 32px;
            color: #fefefe;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
    
    .drag-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        margin-top: 20px;
    }
    
    .draggable-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        border: 1px solid #484848;
        border-radius: 10px;
        cursor: grab;
        touch-action: none;
        img {
            width: 150px;
            height: 150px;
        }
    }
    
    .draggable-item:active {
        cursor: grabbing;
    }
    
    .dropped-item {
        font-size: 2rem;
        padding: 10px;
        border: 1px solid #28a745;
        background-color: #e7f3e7;
        border-radius: 5px;
    }

    .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
    
    
}

