.question-1 {
    .question-container {
        text-align: center;
      }
      
      .question-container h2{
        text-align: center;
        font-weight: 400;
        color: #fefefe;
      }
      
      .options {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 20px 0;
      }
      
      .option-btn {
        padding: 40px 55px;
        background-color: transparent;
        border: 1px solid #484848;
        border-radius: 10px;
        cursor: pointer;
        
        span {
            font-size: 28px;
            color: #fefefe;
        }
    
        &.selected {
            background-color: #f6b52e;
            
            
            span {
                color: #fff;
                font-weight: 900;
            }
        }
      }

      .submit-btn {
        padding: 10px 20px;
        background-color: #3564ab;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 60px;
        width: fit-content;
        margin: 30px auto;

        &:hover {
            background-color: #28a745;
        }
      }
      
      .submit-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
      
}

